<div class="row">
    <a class="col-sm-3" href="https://github.com/Transfigurr/Transfigurr/issues" target="_blank">
        <div class="text">
            <i class="fab fa-github fa-2x"></i>
            <h4>GitHub Issues</h4>
            <p>
                Track bugs and features for the things that matter to you.
            </p>
        </div>
    </a>
</div>
